Repository opportify/opportify-sdk-nodejs, pull requests merged in 2025-02, with the labels that each got.

#6 feat: Update SDK to include isMailboxFull and baseAnalysis
  lib/v1/.openapi-generator/FILES
  lib/v1/apis/EmailInsightsApi.ts
  lib/v1/apis/IPInsightsApi.ts
  lib/v1/models/AbuseContact.ts
  lib/v1/models/AdminContact.ts
  lib/v1/models/AnalyzeEmail200Response.ts
  lib/v1/models/AnalyzeEmail400Response.ts
  lib/v1/models/AnalyzeEmail400ResponseError.ts
  lib/v1/models/AnalyzeEmail403Response.ts
  lib/v1/models/AnalyzeEmail403ResponseError.ts
  lib/v1/models/AnalyzeEmail500Response.ts
  lib/v1/models/AnalyzeEmail500ResponseError.ts
  lib/v1/models/AnalyzeEmailRequest.ts
  lib/v1/models/AnalyzeIp200Response.ts
  lib/v1/models/AnalyzeIp400Response.ts
  lib/v1/models/AnalyzeIp400ResponseError.ts
  lib/v1/models/AnalyzeIp404Response.ts
  lib/v1/models/AnalyzeIp500Response.ts
  lib/v1/models/AnalyzeIpRequest.ts
  lib/v1/models/Asn.ts
  lib/v1/models/BlockListed.ts
  lib/v1/models/EmailDNS.ts
  lib/v1/models/Geo.ts
  lib/v1/models/INTERNALERROR.ts
  lib/v1/models/INVALIDEMAIL.ts
  lib/v1/models/INVALIDPLAN.ts
  lib/v1/models/INVALIDTOKEN.ts
  lib/v1/models/IPVALIDATIONFAILED.ts
  lib/v1/models/MALFORMEDREQUEST.ts
  lib/v1/models/MALFORMEDREQUEST1.ts
  lib/v1/models/NOTFOUND.ts
  lib/v1/models/Organization.ts
  lib/v1/models/RiskReportEmail.ts
  lib/v1/models/RiskReportIp.ts
  lib/v1/models/TechContact.ts
  lib/v1/models/TrustedProvider.ts
  lib/v1/models/Whois.ts
  lib/v1/runtime.ts
  package.json
Labels: ready for review, feature

#7 ci: add publish to npmjs workflow
  .github/workflows/publish.yml
Labels: ready for review, ci/cd

#8 fix: action publish
  .github/workflows/publish.yml
Labels: ready for review, fix

#9 fix: sync npmjs version release
  package.json
Labels: ready for review, fix, ci/cd
